___

<center><a href='https://github.com/MandsaurUniversity/'><img src='../MU_Logo.png'/></a></center>
<br />
<center><strong>Mandsaur University</strong></center>

___

# Strings

Strings are sequences of characters enclosed in single or double quotes, e.g., `"Hello, World!"`. 

This basically means Python keeps track for each and every character in the string as a sequence.

Strings are used in Python to record text information, such as addresses, names, title, etc.

Taking the example of the string mentioned above, "Hello World!", Pthon interprets this string to be a sequence of characters in a specific order. Hence we can use indexing to pick particular letters from this string.

## Creating a String

We can create a string in Python using either single quotes or double quotes. For example:

In [13]:
# Creating a string having a single word, using single quotes
'apple'

'apple'

In [14]:
# Creating a string containing multiple words and using double quotes:
"The sky is blue"

'The sky is blue'

### One important note

Some strings may contain quotes inside them, for example: `I'm writing Python code`

So if we write above string in single quotes, it will look like this: `'I'm writing Python code'` correct? But this will cause an error:

In [15]:
# Error, due to single quote enclosure
' I'm writing Python code'

SyntaxError: unterminated string literal (detected at line 2) (1687061765.py, line 2)

In order to solve this error, we can use combinations of single and double quires to get the statement right:

In [16]:
# Using combination of single and double quotes to form the same string
"I'm writing Python code"

"I'm writing Python code"

## Printing a String

To print a string, we can use a print function like this:

In [17]:
print("I'm writing Python code")
print("Hello World")
print("This will be printed on one line\n and this goes to a new line")

I'm writing Python code
Hello World
This will be printed on one line
 and this goes to a new line

Have you noticed above? the `\n` literal can be used to break the string and put the remaining sring on a new line.

## String Indexing

As we have mentioned above that the strings are sequence of elements, we can traverse through its indexes to see what is stored at a particular location in the string.

For this Python uses square brackets `[]` after a string object to call its index.

Indexes in Python starts with `0` so the first element in a string is located at index position `0`. Let's understand this with a string object:

In [35]:
# Creating a string named my_string
my_string = "Hello World"

# Printing my_string
my_string

'Hello World'

#### Now let's use index positions for traversing through it!

In [19]:
# Show the first element of my_string
print( my_string[0] )

H

In [20]:
# Similarly, show second element of this string
my_string[1]

'e'

In [21]:
# Similarly, show the third element of this string
my_string[2]

'l'

#### We can use `:` (colon) to perform string _slicing_ in different ways:

In [22]:
# Show everything after the first element of `my_string` up till the length of `my_string`
my_string[1:]

'ello World'

In [38]:
# Show everything up to the third index
my_string[:3]

'Hel'

In [37]:
# Show everything
my_string[:]

'Hello World'

In order to go backwards, we can use negative indexing like this:

In [39]:
# Only show the last element (letter) from the string:
my_string[-1]

'd'

In the above example, it goes one index behind [0]. That means it _**loops back around**_ and fetches the last letter.

Similarly, we can also use this negative indexing to show the whole string but the last letter:

In [40]:
# Showing everything from `my_string` except the last letter:
my_string[:-1]

'Hello Worl'

**Note:** The original string `my_string` will not change whie performing these slicing operations until we save the sliced value back in the string like this:

In [25]:
# Check the value of my_string as of now:
my_string

'Hello World'

In [30]:
# Slicing the first letter from the string and storing it back:
my_string = my_string[1:]

# Displaying my_string again:
my_string

'ello World'

In [32]:
# And once again...
my_string

'ello World'

_Note that the `my_string` has now got this new value when we assigned `my_string[1:]` to it._

## String Properties

### Immutability:

Strings are **immutable**, which means that the elements (or characters) within it can not be changed or replaced once the string is created.

In [61]:
# Let's create a new string:
another_string = 'This is a string'

# And print that string:
another_string

'This is a string'

In [45]:
# Let's try to update this string by changing its first letter to 'P' by reassigning [0] index location:
another_string[0] = 'P'

TypeError: 'str' object does not support item assignment

Have you noticed the error? It is telling us that we can't use item assignment to do changes like this!

But we can concatenate string for sure. Concatination means adding two strings.

### Concatination:

In [62]:
# Original string:
another_string

'This is a string'

In [63]:
# We can concatenate strings like this:
another_string + 'This gets added in the end.'

'This is a stringThis gets added in the end.'

We can also reassing the string completely as well!

In [64]:
# Let's concatenate a new string "One more string is added to it." and reassign the concatenated string to it:
another_string = another_string + ". One more string is added to it."

# One more way to do this is to use the shorthand notation, like this:
# another_string += ". One more string is added to it."

In [65]:
# Now, let's check this string again:
another_string

'This is a string. One more string is added to it.'

### Multiplication:
We can also use the multiplication symbol to create repetition

In [67]:
word = 'X'
word *3

'XXX'

### len() function
Python provides a built-in `len()` function which counts the number of characters in the string which includes all the spaces and punctuations.

In [70]:
len("Hello World")

11

## Some built-in functions (or methods) available on Strings
Objects in Python have some built-in methods. These methods are the functions which can do a particular task on the object itself (we will learn abotu objects in the Inheritance chapter in detail)

These methods available to an object can be called using a period (`.`) followed by the method name. So the syntax of calling a method on an object looks something like this:

object.method(params)

These `params` are some arguments which can be passed to the method, if required.

Below are some built in methods available to a _`string`_ object:

In [78]:
# Consider our old string we created above:
another_string

'This is a string. One more string is added to it.'

In [80]:
# Uppercase the string
another_string.upper()

'THIS IS A STRING. ONE MORE STRING IS ADDED TO IT.'

In [74]:
# Similarly, Lowercase the string:

In [82]:
another_string.lower()

'this is a string. one more string is added to it.'

In [84]:
# Split a string (by default it will be split by blank space)
another_string.split()

['This',
 'is',
 'a',
 'string.',
 'One',
 'more',
 'string',
 'is',
 'added',
 'to',
 'it.']

In [86]:
# Split this string by a specific character ('s')
another_string.split('s')

['Thi', ' i', ' a ', 'tring. One more ', 'tring i', ' added to it.']

In [87]:
# Make the first letter of every word capitalized:
another_string.title()

'This Is A String. One More String Is Added To It.'

## Print Formatting
The `.format()` method can be used to add formatted objects to the printed strings.

Consider this example:

In [89]:
a = 4
b = 7
c = a + b

some_string = "When {} is added to {}, the result will be {}"
some_string.format(a, b, c)

'When 4 is added to 7, the result will be 11'

We will discuss this string formatting in details in later chapters.